*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/debug/res/values/google_maps_api.xml
app/src/release/res/values/google_maps_api.xml
app/src/main/res/values/foursquare_client_keys.xml